# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:iDwa9pQ3rS
Header always edit Set-Cookie ^(.*)$ $1;SameSite=None;Secure
<IfModule mod_headers.c>
    Header set Cache-Control "max-age=1800, public"
</IfModule>
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?dizeto.com/.*$      [NC]
RewriteRule .*\.(.*|jpg|jpeg|gif|png|bmp|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|html|htm|php)$ https://www.dizeto.com [R,NC]
RewriteCond %{HTTP_HOST} ^dizeto.com [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.dizeto.com/$1 [L,R=301]
Options +Indexes
IndexOptions FancyIndexing
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE iDwa9pQ3rS:HOTLINKID